git+https://github.com/ApeX-Protocol/apexpro-openapi.git@main#egg=apexpro

Flask>=3.0.0
requests>=2.31.0
web3>=6.0.0
ecdsa>=0.18.0
mpmath>=1.2.1

# 关键：降级到旧版，让 apexomni 还能从 sympy.core.numbers 导入 igcdex
sympy==1.10.1

numpy>=1.26.0
